### Importing important libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Reading the dataset

In [19]:
data = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv')

# Saving the dataset in csv format
data.to_csv('dataset.csv',index=False)
data.shape

(100, 8)

In [20]:
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [21]:
data.drop(['Unnamed: 0','S.No','USERNAME','Caption','Hashtags'],axis=1,inplace=True)
data.head()

   Followers Time since posted  Likes
0       1600          11 hours    139
1        880           2 hours     23
2        255           2 hours     25
3        340           3 hours     49
4        304           3 hours     30

In [26]:
time = []
for i in range(data['Time since posted'].shape[0]):
    temp = data['Time since posted'][i].split()
    time.append(int(temp[0]))

In [27]:
data['Time since posted'] = time

In [28]:
data

    Followers  Time since posted  Likes
0        1600                 11    139
1         880                  2     23
2         255                  2     25
3         340                  3     49
4         304                  3     30
..        ...                ...    ...
95        614                  3     31
96        450                  3     42
97        182                  3     10
98       2039                  3    222
99        741                  3    109

[100 rows x 3 columns]

### Splitting the dataset into dependent and independent set

In [30]:
X = data.iloc[:,:2]
Y = data.iloc[:,-1]
print(X.shape,Y.shape)

(100, 2) (100,)

### Splitting the dataset for training and validation

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.2,random_state=42)

### Building the ML model

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(X_train,Y_train)

LinearRegression()

In [36]:
print("Training accuracy of the model is: ",lr.score(X_train,Y_train))
print("Validation accuracy of the model is: ",lr.score(X_val,Y_val))

Training accuracy of the model is:  0.35833164624837754
Validation accuracy of the model is:  0.6183678779549548

### Calculating the MSE of our model

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
predictions = lr.predict(X_val)

In [40]:
mse = mean_squared_error(Y_val,predictions)
print("Mean squarred error of our model (rounded off to 2 decimal places) is: ",round(mse,2))

Mean squarred error of our model (rounded off to 2 decimal places) is:  541.01